body{
    background-color: #00ff99;
    color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30;
}
header{
    color: #652d91;
    font-size: 35;
}
h1{
   font-weight: bolder;
   color: #001860
}

form{
    color: #001860;
    background-color: #ff8000;
    margin-top: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: bolder;
    font-size: 16;
    border: none;
    cursor: pointer;
}

#boton-enviar{
    display: block;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #652d91;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}