/* Estilos generales y fondo */
body {
    font-family: "Century Gothic";
    background-color: #0ff999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1;
}

h1{
    text-align: center;
    color: white;
    background-color: #652d91;
}
nav{
    color: white;
    font-size: 16;
    background-color: #1f21aa;
}
h2{
    font-size: 65;
    color: white;
    font-weight: bolder;
    background-color: #00a3e6;
}
h3{
    background-color: #1f3160;
    color: white;
    text-align: center;
}

/* Contenedor del formulario */
.form-container {
    background-color: #ff8000;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 3 4px 15px rgba(23, 121, 4, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

/* Grupos de campos */
.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Inputs y Textarea */
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e73c00;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Efecto de foco al escribir */
.form-group input:focus,
.form-group textarea:focus {
    border-color: black;
    outline: none;
}

/* Botón de envío */
button {
    width: 100%;
    padding: 12px;
    background-color: #ffe200;
    color: #1f21aa;
    font-family: "Century Gothic";
    border: 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006400;
}

/* Mensajes de validación */
.error-message {
    color: #fd0001;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.success-message {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
    display: none;
}
