#contador-tazas {
    font-size: 1.5 rem;
    font-weight: bolder;
    text-align: center;
}

#boton-reserva {
    display: block;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #00a3e8;
    color: white;
    border: 1px;
    border-color: black;
    font-family: Century Gothic;
    font-size: 1rem;
    cursor: pointer;
}