body {
    opacity: 1;
    background-color: white;
    font-size: 30;
    color: black;
}

h1{
    font-size: 70px;
    text-align: center;
}
h2{
    font-weight: bolder;
    text-align: center;
}

h3{
    color: black;
    background-color: whitesmoke;
    font-weight: bolder;
    font-size: 20;
    text-align: center;
}
h4{
    font-size: 30;
    color: white;
    font-weight: bolder;
    background-color: #0d6cf4;
    padding: 3.5rch 2rem;
}
h5{
    font-size: 30;
   font-weight: bold;
   font-style: italic;
   text-align: center;
}
p{
    font-size: 30;
}
header {
    text-align: center;
    font-weight: bolder;
    padding: 3.5rch 2rem;
    border-bottom: 5px solid #00a3e6;
    background-color: whitesmoke;
}

nav a {
font-weight: bolder;
text-align: center;
font-size: 24;
}

a{
    color: #0d6cf4;
    font-weight: bold;
}
main {
    padding: 3rem 6rem;
    max-width: 900px;
    margin: 0 auto;
    font-size: 30;
     text-align: center;
}

.capa{
    margin: 5 auto;
    text-align: center;
    align-items: center;
    top: 50px;
    z-index: 10;
    font-size: 23px;
    border: 1px solid gray;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px gray;
}
.contenedor{
    margin: 5 auto;
    padding: 10px;
    text-align: left;
    top: 50px;
    z-index: 10;
    font-size: 20px;
    border: 1px solid gray;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px gray;
}

br{
    font-size: 30;
    font-weight: bolder;
}

.metodo-titulo {
    font-size: 3.0rem;
    font-weight: bolder;
    empty-cells: show;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.25rem;
}

.precio {
    font-size: 30;
    font-weight: bolder;
    }

footer{
    border: 2px solid gray;
    box-shadow: 2px 2px 12px gray;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    margin: 5 auto;
    font-size: 30;
}
.hover{
    cursor: pointer;
    border-color: #0d6cf4;
    transition-duration: 0.5s;
}