/* Variables de color */
:root {
    --bg: #ffffff;
    --bg-soft: #f6f9fd;
    --surface: #ffffff;
    --surface-2: #f7faff;
    --text: #071326;
    --muted: #667085;
    --line: #e3e9f2;
    --primary: #0878f9;
    --primary-2: #00b6ff;
    --shadow: 0 22px 70px rgba(20,51,87,.12);
    --header: rgba(255,255,255,.82);
    --card-border: #e1e8f1;
    --success: #05a86b;
}

[data-theme="dark"] {
    --bg-color: #04101e;
    --text-color: white;
    --track-bg: #444444;
    --muted:#9aabc1;
    --shadow: 0 22px 72px rgba(20, 51, 87, .12);
    --thumb-bg: #222222;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 3 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Diseño del Track */
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--track-bg);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

/* Círculo deslizante (Thumb) */
.slider:before {
    background-color: var(--thumb-bg);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50%;
    z-index: 2;
}

/* Movimiento del círculo al activar */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Iconos dentro del track */
.icon {
    font-size: 14px;
    z-index: 1;
}