#contador-tazas {
    font-size: 1.5 rem;
    font-weight: bolder;
    text-align: center;
}

#boton-reserva {
    display: block;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #00a3e8;
    transition: #001860 0.5s ease;
    color: white;
    border: 2px, black;
    border-radius: 10px;
    border-width: 2px;
    font-family: Century Gothic;
    font-size: 1rem;
    cursor: pointer;
}

#button:hover{
    background-color: #001860;
}