body {
    background-color: #0fff99;
    font-family: Century Gothic;
    font-size: 30;
    color: white;
}

h1{
    color: white;
    background-color: #1f3160;
    font-size: 70px;
    text-align: center;
}
h2{
    background-color: #006400;
    color: white;
    font-weight: bolder;
    text-align: center;
}
h4{
    font-size: 30;
    font-weight: bold;
    background-color: white;
    padding: 3.5rch 2rem;
}
h5{
    font-size: 30;
   font-weight: bold;
   font-style: italic;
   background-color: #001860;
   text-align: center;
}
p{
    font-size: 30;
    font-family: Calibri;
    text-transform: uppercase;
}
header {
    text-align: center;
    font-weight: bolder;
    padding: 3.5rch 2rem;
    border-bottom: 5px solid #ffe200;
    background-color: #652d91;
}

nav a {
color: white;
background-color: #0f4d92;
font-weight: bolder;
text-align: center;
font-size: 24;
}

main {
    padding: 3rem 2rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: #0068c8;
    text-transform: uppercase;
    font-size: 30;
     text-align: center;
}

br{
    font-size: 30;
    background-color: #001860;
    color: #ff8000;
    font-weight: bolder;
}

.metodo-titulo {
    font-size: 3.0rem;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.25rem;
    color: white;
    background-color: #006400;
}

.precio {
    font-size: 30;
    font-weight: bold;
    color: white;
    background-color: #ed0c08;
    }

footer{
    font-family: Kristen ITC;
    text-align: center;
    color:#1f21aa;
    background-color: #ffe200;
    margin: 1 auto;
    font-weight: bolder;
    font-size: 30;
}

#contador-tazas {
    font-size: 1.5 rem;
    font-weight: bolder;
    color: white;
    background-color: #ed0c08;
    text-align: center;
}

#boton-reserva {
    display: block;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #ffe200;
    color: #1f21aa;
    border: none;
    font-family: Century Gothic;
    font-size: 1rem;
    cursor: pointer;
}
form{
    color: #001860;
    background-color: #ff8000;
    margin-top: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 12;
    border: none;
}

#boton-enviar{
    display: block;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #652d91;
    color: white;
    border: none;
    font-family: Century Gothic;
    font-size: 1rem;
    cursor: pointer;
}